<!DOCTYPE html>
<html>
<head>
    <title>Banking System</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<nav>

    <div class="logo">
        Banking System
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/create-account">Create Account</a></li>
        <li><a href="/deposit">Deposit</a></li>
        <li><a href="/withdraw">Withdraw</a></li>
        <li><a href="/balance">Balance</a></li>
        <li><a href="/transfer">Transfer</a></li>
        <li><a href="/transactions">Transactions</a></li>
        <li><a href="/kyc">KYC Update</a></li>
        <li><a href="/admin">Admin</a></li>
    </ul>
</nav>
<div class="main-content">
<section class="hero">
    <div class="hero-content">
        <h1>Modern Digital Banking</h1>

        <p>
            Secure • Fast • Reliable Banking Experience
        </p>

        <a href="/create-account" class="btn">
            Get Started
        </a>
    </div>
</section>

<section class="features">

    <h2>Banking Features</h2>

    <div class="card-container">

        <div class="card">
            <h3>Create Account</h3>

            <p>
                Open secure customer accounts instantly.
            </p>

            <a href="/create-account">Open</a>
        </div>

        <div class="card">
            <h3>Deposit Money</h3>

            <p>
                Add money safely into customer accounts.
            </p>

            <a href="/deposit">Deposit</a>
        </div>

        <div class="card">
            <h3>Withdraw Money</h3>

            <p>
                Withdraw money with balance validation.
            </p>

            <a href="/withdraw">Withdraw</a>
        </div>

        <div class="card">
            <h3>Check Balance</h3>
            <p>
                View account balance instantly.
            </p>

            <a href="/balance">Balance</a>
        </div>
        <div class="card">
    <h3>Money Transfer</h3>
    <p>
        Transfer money securely between accounts.
    </p>
    <a href="/transfer">
        Transfer
    </a>
</div>
<div class="card">
    <h3>KYC Update</h3>
    <p>
        Update customer KYC details.
    </p>
    <a href="/kyc">
        Update
    </a>
</div>
<div class="card">
    <h3>Admin Panel</h3>
    <p>
        Manage customers and accounts.
    </p>
    <a href="/admin">
        Admin
    </a>
    </div>
    </div>

</section>
</div>
<footer>
    © 2026 Banking System | Developed by Sathish
</footer>

</body>
</html>