<!DOCTYPE html>
<html>

<head>

    <title>Withdraw Success</title>

    <link rel="stylesheet"
          href="/css/style.css">

</head>

<body>
<nav>

    <div class="logo">
        Banking System
    </div>

    <ul>

        <li><a href="/">Home</a></li>

    </ul>

</nav>
<div class="main-content">
<div class="success-container">

    <div class="success-card">

        <div class="success-icon">

            ✓

        </div>

        <h1>

            Withdraw Successful

        </h1>

        <div class="account-details">

            <h2>

                Withdraw Amount

            </h2>

            <p>

                ₹ <span th:text="${amount}"></span>

            </p>

        </div>

        <a href="/">

            <button>

                Go To Home

            </button>

        </a>

    </div>
</div>
</div>
<footer>
    © 2026 Banking System | Developed by Sathish
</footer>

</body>

</html>